<h1>Favorites</h1>
{{#each favorites as |favorite|}}
<div class="favitem">
    <a href="{{favorite.nasa_url}}">
        <img class="faveimage"
             src="{{favorite.url}}">
    </a>
    <p class="favtitle">{{favorite.title}}</p>
    <p class="favdate">{{favorite.date}}</p>
</div>
<div class="RemoveFavorites">
    <form action="favorites/delete" method="POST">
        <input type="hidden" name="date" value="{{favorite.date}}">

        <input type="submit" class="btn btn-success" name="delete" value="Delete Picture from Favorites">
    </form>
</div>

{{else}}
<p>No favorites saved yet.</p>
{{/each}}
{{> navigation}}

